<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{ get_app_name() }}</title>
    <link rel="stylesheet" href="{{ asset('css/swiper.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
    <script src="{{ asset('js/jquery-3.6.4.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,900" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ asset('js/session.js') }}"></script>

    <script>
        $(function () {
            $("#loggedIn").hide();

            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#id_password');

            togglePassword.addEventListener('click', function (e) {
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
            });
        });
    </script>

    <style>
        .swal2-confirm {
            color: #7cd1f9;
        }

        .popup.popup-terms {
            z-index: 20000 !important;
        }
    </style>

    {% block stylesheets %}
    {% endblock %}


</head>

<body id="mobile_wrap">

<div class="panel-overlay"></div>

<div class="panel panel-left panel-reveal">
    <!-- Slider -->
    <div class="swiper-container-subnav multinav">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <nav class="main_nav_underline">
                    <ul>
                        <li>
                            <a href="{{ path('app_home') }}"><img src="{{ asset('images/icons/white/home.png') }}"
                                                                  alt="" title=""/><span>Home</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_products') }}"><img
                                        src="{{ asset('images/icons/white/features.png') }}" alt="" title=""/><span>Products </span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_benefits') }}"><img src="{{ asset('images/icons/white/music.png') }}"
                                                                      alt=""
                                                                      title=""/><span>Benefits Explained</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_videos') }}"><img src="{{ asset('images/icons/white/video.png') }}"
                                                                    alt="" title=""/><span>Servicing Members</span></a>
                        </li>

                        <li class="subnav opensubnav"><img src="{{ asset('images/icons/white/categories.png') }}" alt=""
                                                           title=""/><span>About MWPF</span></li>

                        <li>
                            <a href="{{ path('app_contact') }}"><img src="{{ asset('images/icons/white/contact.png') }}"
                                                                     alt="" title=""/><span>Contact</span></a>
                        </li>

                        <li>
                            <a href="#" data-popup=".popup-social" class="open-popup"><img
                                        src="{{ asset('images/icons/white/twitter.png') }}" alt="" title=""/><span>Connect with us</span></a>

                        <li>
                            <a href="tel:0101003001"><img src="{{ asset('images/icons/white/phone.png') }}" alt=""
                                                          title=""/><span>Call Now!</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="swiper-slide">
                <div class="subnav_header backtonav"><img src="{{ asset('images/icons/white/back.png') }}" alt=""
                                                          title=""/><span>BACK TO MAIN MENU</span></div>
                <nav class="main_nav_underline">
                    <ul>

                        <li>
                            <a href="{{ path('app_about') }}"><img src="{{ asset('images/icons/white/users.png') }}"
                                                                   alt="" title=""/><span>About MWPF</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_team') }}"><img src="{{ asset('images/icons/white/users.png') }}"
                                                                  alt="" title=""/><span>Management</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_employers') }}"><img
                                        src="{{ asset('images/icons/white/tables.png') }}" alt="" title=""/><span>Participating Employers</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_contact') }}" target="_blank"><img
                                        src="{{ asset('images/icons/white/mobile.png') }}" alt="" title=""/><span>Fund Rules</span></a>
                        </li>

                        <li>
                            <a href="{{ path('app_contact') }}"><img src="{{ asset('images/icons/white/contact.png') }}"
                                                                     alt="" title=""/><span>Contact</span></a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>


<div class="views">

    <div class="view view-main">


        {% block body %}{% endblock %}


    </div>
</div>


<!-- Register Popup -->
<div class="popup popup-terms">
    <div class="content-block">
        <h4>Terms & Conditions</h4>
        <div class="container">

            <h5 class="sitecolor">= Introduction =</h5>
            <p align="justify"> Welcome to the MineWorkers Provident website www.mwpf.co.za. The website provides
                information about the country for MineWorkers Provident Fund. The website is owned by MineWorkers
                Provident Fund, hosted by MediaCast Worldwide and is located
                within the Republic of South Africa. By accessing and using this website, you agree to be bound by the
                terms and conditions set out in this notice. If you do not wish to be bound by these terms and
                conditions, then you may not access,
                display, use, download, copy or distribute any of the content of this website. Your use of the website
                You agree that your use of this website is for lawful purposes only. You agree that you will not use
                this website for any unlawful
                purpose, including committing a criminal offence, gaining unauthorised access to other computer systems,
                or transmitting unlawful material.</p>
            <br>


            <h5 class="sitecolor">= Linking =</h5>

            <p align="justify"> Any third party wishing to link to this website from their website must obtain
                permission from MWPF, and permission may be granted on terms and conditions agreed.</p>


            <h5 class="sitecolor">= General disclaimer =</h5>
            <p align="justify"> You agree to access and use this site entirely at your own risk. Please read the
                Exclusion of Liability clauses below.</p>


            <h5 class="sitecolor">= Your privacy =</h5>

            <p align="justify"> We respect the privacy of our members and all visitors to this site. You may use this
                site without providing any personal information. However, so that we can regularly assess and improve
                the site, we collect information on the number
                of visits to the site, pages viewed, etc.</p>
            <br>


            <h5 class="sitecolor">= Choice of law =</h5>

            <p align="justify"> This website is owned and operated within the Republic of South Africa. Therefore, these
                terms and conditions are governed by the laws of the Republic of South Africa, and the user consents to
                the jurisdiction of the Witwatersrand High
                Court in the event of any dispute. Accuracy of information.While every effort is made to ensure that the
                information provided on this website is current and accurate, you should not assume that this is always
                the case, and should consult
                other sources before making any decision to act on this information.</p>


            <h5 class="sitecolor">= Copyright and use of material =</h5>
            <p align="justify"> MineWorkers Provident Fund retains copyright in the website and all current and future
                content displayed on the website which is not owned by third parties. In terms of a limited licence,
                granted for general use, MPWF grants the user,
                subject to these terms and conditions, a non-exclusive, non-transferable, limited and revocable right to
                access, display, use, download and otherwise copy the current and future content of the website for your
                personal, non-commercial
                and informational purposes only. In addition, MWPF grants you permission to copy and distribute
                information from the website for non-commercial purposes, provided that: (i) this information has not
                been sourced from third parties;
                (ii) you notify MWPF of such use; and (iii) MWPF is acknowledged as the source by reference to the
                website address. This website and its contents may not be reproduced, duplicated, copied, resold or
                otherwise used for any commercial
                purpose without the express prior written consent of MWPF.</p>
            <br>
            <h5 class="sitecolor">= Your comments =</h5>
            <p align="justify">
                We value feedback received from members and visitors to our site. However, you agree not to transmit any
                material that is unlawful, harmful, defamatory, abusive, threatening, vulgar or obscene. You remain
                liable to any third party for your comments, and
                MWPF is not liable to any third party for the content of your comments. External links and advertising
                Wherever this website provides links to other websites, this should not be construed as constituting any
                relationship or endorsement
                of the linked third party, and reliance on all information provided by the external link is done so at
                your own risk. Wherever third party advertising or promotional material is displayed on this website,
                this should not be construed
                as MWPF endorsing or creating any relationship between MWPF and that third party. Reliance on any such
                material is entirely at your own risk.

            </p>
            <br>
            <h5 class="sitecolor">= Exclusion of liability =</h5>
            <p align="justify"> You expressly agree that the use of this website is entirely at your own risk. The
                website and all its contents are provided on an "as is" basis, and MWPF makes no representations or
                warranties of any kind, whether express or implied,
                to the accuracy of the contents of the website. MWPF does not warrant that the website's functions will
                be uninterrupted or error-free, or that the site or its server is free from viruses or other harmful
                components. MWPF, its directors,
                employees, officials, suppliers, agents and/or representatives shall not be liable for any loss or
                damage, whether direct, indirect or consequential, or any expense of any nature whatsoever, which may be
                suffered by the user, which
                arises directly or indirectly from reliance of the website and/or its content. MWPF, its agents or
                suppliers shall not be responsible for any direct or indirect special consequential or other damage of
                any kind whatsoever suffered
                or incurred by you related to your use of, or your inability to access or use, the content or the
                website or any functionality of the website or of any linked website, even where MWPF is expressly
                advised thereof. You will indemnify
                MWPF, its directors, employees, officials, agents, suppliers or representatives, and keep them fully
                indemnified, from and against any loss or damage suffered or liability incurred in respect of any third
                party, which arises from your
                use of this website. Contact details for any purposes related to these terms and conditions.<br><br>
                Telephone: +27 (0)10 100 -3000<br> E-mail: info@mwpf.co.za</p>


        </div>
        <div class="close_popup_button">
            <a href="#" class="close-popup" data-popup=".popup-terms"><img
                        src="{{ asset('images/icons/black/menu_close.png') }}" alt="" title=""/></a>
        </div>
    </div>
</div>

<!-- Social Icons Popup -->
<div class="popup popup-social">
    <div class="content-block">

        <div class="container" align="center">
            <a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}"
                                                  style="width:100px; margin-top: 30px" img="responsive" alt=""></a>
            <br><br>
        </div>

        <h4>CONNECT WITH US</h4>
        <p>Connect and Share on MWPF platforms.</p>
        <ul class="social_share">
            <li>
                <a href="https://www.instagram.com/mineworkers_pf/" target="_blank"><img
                            src="{{ asset('images/icons/black/instagram.png') }}" alt=""
                            title=""/><span>INSTAGRAM</span></a>
            </li>
            <li>
                <a href="https://www.facebook.com/Mineworkers-Provident-Fund-286779041799206/" target="_blank"><img
                            src="{{ asset('images/icons/black/facebook.png') }}" alt="" title=""/><span>FACEBOOK</span></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/" target="_blank"><img
                            src="{{ asset('images/icons/black/linkedin.png') }}" alt="" title=""/><span>LINKEDIN</span></a>
            </li>
        </ul>
        <div class="close_popup_button">
            <a href="#" class="close-popup" data-popup=".popup-social"><img
                        src="{{ asset('images/icons/black/menu_close.png') }}" alt="" title=""/></a>
        </div>
    </div>
</div>

{% block popups %}
{% endblock %}


<script src="{{ asset('js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('js/swiper.min.js') }}"></script>
<script src="{{ asset('js/simple-lightbox.js') }}"></script>
<script src="{{ asset('js/jquery.custom.js') }}"></script>

{% block javascripts %}
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in app.session.flashBag.get('success') %}
        Swal.fire({
            text: '{{ message }}',
            icon: 'success',
            showCancelButton: false,
        });
        {% endfor %}

        {% for message in app.session.flashBag.get('error') %}
        Swal.fire({
            text: '{{ message }}',
            icon: 'error',
            showCancelButton: false,
        });
        {% endfor %}
    });
</script>
</body>

</html>