{% extends 'base.html.twig' %}

{% block body %}
    <div data-page="contact" class="page no-toolbar no-navbar">
        <div class="page-content">

            <div class="navbarpages navbarpagesbg">
                <div class="navbar_left">
                    <a href="{{ path('app_home') }}"><img src="{{ asset('images/icons/white/home.png') }}" alt=""
                                                          style="width:25px" title=""/></a>
                </div>
                <div class="navbar_right navbar_right_menu">
                    <a href="#" data-panel="left" class="open-panel"><img
                                src="{{ asset('images/icons/white/menu.png') }}" alt="" title=""/></a>
                </div>

            </div>

            <div id="pages_maincontent">

                <h2 class="page_title">UPDATE PASSWORD</h2>

                <div class="page_single layout_fullwidth_padding">

                    <h2 id="Note"></h2>
                    <div class="contactform">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" name="submit" class="form_submit" id="submit" value="UPDATE PASSWORD" onclick="show_loading_up()"/>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
                        function show_loading_up() {
                            document.getElementById("submit").value = "Loading .....";
                        }
                    </script>
{% endblock %}
